/*************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  cursor: default;
  font-family: "Nunito Sans", sans-serif;
}
