/*************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  cursor: default;
  font-family: "Nunito Sans", sans-serif;
  background-color: #000;
}

/*************************************** icons */
.icon-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  margin: 16rem 5rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1.5rem;
}

.link-container {
  position: relative;
}

.link-container div {
  text-align: center;
  font-size: 2rem;
  transition: 0.6s;
  color: #000;
}

.link-container:hover div {
  transform: translateY(10rem);
}

.link-container span {
  font-size: 1.5rem;
}
